cache got not be updated

I run into "hostname mismatch" trouble. Figuring out postfix-mta-sts-resolver.

On one server:
root@ns2:/var/lib/mta-sts# postmap -q stb.rauschert.de socketmap:inet:127.0.0.1:8461:postfix
secure match=stb-rauschert-de.mail.protection.outlook.com servername=hostname

on another server
root@ns1:/var/lib/mta-sts# postmap -q stb.rauschert.de socketmap:inet:127.0.0.1:8461:postfix
secure match=mail2.stb.rauschert.de:mail3.stb.rauschert.de servername=hostname

DNS MX tells "stb-rauschert-de.mail.protection.outlook.com".

I have to rm files in /var/lib/mta-sts, then ns1 answer is equal to ns2 one. I searched this for days including reboot of server so local DNS cache can't be the reason.

 - OS: debian12
 - Python version: 3.11.2


Apparently domain owners changed the policy without proper procedure described in [RFC 8461 section 8.1](https://datatracker.ietf.org/doc/html/rfc8461#section-8.1). Likely policy was changed, but TXT record was not updated or something like this, so cache record was reused. We already had similar situation here: https://github.com/Snawoot/postfix-mta-sts-resolver/issues/109#issuecomment-2528490316

But I don't see how such mismanagement is a bug in my software.

